@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Az alapvető beállítások, hogy eltávolítsuk az alapértelmezett stílusokat */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .right-panel.grey h1{
    font-size: 4rem;
  }

  /* A kocsi adatainak megjelenítésére */
  .car-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* A tartalom elosztása két oldalra */
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 1.25rem;
    background-color: var(--plain-white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: 2px transparent;
    user-select: none;
    cursor: pointer;
    transition: var(--transition-quick);
    color: var(--font-color-black);

    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
  
    @starting-style {
      opacity: 0;
      transform: translateY(20rem);
    }
  }
  
  .right-panel.grey ul {
    overflow-y: scroll;
    padding: 0 1rem; /* 1 rem távolság a bal oldali tartalomtól */

  }

  .right-panel.grey ul::-webkit-scrollbar {
    width: 8px; /* Vékony görgetősáv */

  }
  
  .right-panel.grey ul::-webkit-scrollbar-thumb {
    background-color: var(--plain-white); /* Görgetősáv színe */
    border-radius: 10px;
    box-shadow:
    inset 1px 1px 1px var(--bevel-light), /* világos kiemelés */
    inset -1px -1px 1px var(--bevel-dark); /* árnyék sötétebb rész */
    cursor: pointer;
  }
  
  .right-panel.grey ul::-webkit-scrollbar-track {
    background: #f1f1f1; /* Görgetősáv háttérszíne */
    border-radius: 10px;
  }
  
  .right-panel.grey h1{
    user-select: none;
  }

  /* A kocsi képe */
  .car-container img {
    width: 6rem;
    height: 6rem;
    object-fit: contain;
    margin-right: 1rem;
    border-radius: 8px;
    user-select: none;
    -webkit-user-drag: none; /* Húzás letiltása WebKit böngészőkben (pl. Safari) */
    -moz-user-drag: none; /* Húzás letiltása Mozilla böngészőkben */
  }
  
  /* A szöveg tartalma */
  .car-details {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-family: "Inter", serif;
  }
  
  .car-details h2 {
    margin: 0;
    font-size: 1.2rem;
    font-family: "Inter", serif;
    font-weight: 900;
  }
  
  .car-details p {
    margin: 0.5rem 0;
    font-size: 1rem;
  }
  
  /* A rendszám és a típus egy sorban */
  .car-details .license-type {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
  }
  
  .car-details .license-type span {
    font-size: 0.9rem;
  }
  
  .edit-btn img, .delete-btn img {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    border-radius: 0;
    filter: invert(var(--invert));
  }
  
  .edit-btn, .delete-btn {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin: 0;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0.1rem;
    transition: background-color 0.3s ease, transform 0.1s ease-in-out;
    background-color: var(--btn-color);  
    box-shadow: var(--shadow-small),
                inset 1px 1px 1px var(--bevel-light), /* világos kiemelés */
                inset -1px -1px 1px var(--bevel-dark); /* árnyék sötétebb rész */
            
  }

  .btns{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

.type{
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;
  border-radius: 100rem;
  color: var(--font-color-black);
  box-shadow: 
  inset 1px 1px 1px var(--bevel-light), /* világos kiemelés */
  inset -1px -1px 1px var(--bevel-dark); /* árnyék sötétebb rész */
}
.license{
  padding: 0.4rem 0 0.4rem 0;
}
  /* Színek definiálása */
  .type.red {
    background: linear-gradient(90deg, rgba(237,33,58,0.85) 0%, rgba(147,41,30,0.85) 100%);
    color: black;
}

.type.blue {
  background: linear-gradient(90deg, rgba(143,148,251,0.85) 0%, rgba(78,84,200,0.85) 100%);
  color: black;
}

.type.green {
  background: linear-gradient(90deg, rgba(147,249,185,0.85) 0%, rgba(29,151,108,0.85) 100%);
  color: black;
}

.type.black {
  background: linear-gradient(90deg, rgba(67,67,67,0.85) 0%, rgba(0,0,0,0.85) 100%);
  color: white;
}

.type.white {
  background: linear-gradient(90deg, rgba(255,255,255,0.85) 0%, rgba(236,233,230,0.85) 100%);
  color: black;
}

.type.gray {
  background: linear-gradient(90deg, rgba(189,195,199,0.85) 0%, rgba(44,62,80,0.85) 100%);
  color: black;
}

.type.silver {
  background: linear-gradient(90deg, rgba(234,234,234,0.85) 0%, rgba(219,219,219,0.85) 35%, rgba(242,242,242,0.85) 69%, rgba(194,191,175,0.85) 100%);
  color: black;
}

.type.yellow {
  background: linear-gradient(90deg, rgba(243,249,167,0.85) 0%, rgba(202,197,49,0.85) 100%);
  color: black;
}

.type.orange {
  background: linear-gradient(90deg, rgba(255,210,0,0.85) 0%, rgba(247,151,30,0.85) 100%);
  color: black;
}

.type.brown {
  background: linear-gradient(90deg, rgba(178,159,148,0.85) 0%, rgba(96,56,19,0.85) 100%);
    color: white;
}

.type.beige {
  background: linear-gradient(90deg, rgba(234,205,163,0.85) 0%, rgba(214,174,123,0.85) 100%);
  color: black;
}

.type.purple {
  background: linear-gradient(90deg, rgba(173,83,137,0.85) 0%, rgba(60,16,83,0.85) 100%);
  color: white;
}

.type.pink {
  background: linear-gradient(90deg, rgba(188,78,156,0.85) 0%, rgba(248,7,89,0.85) 100%);
  color: black;
}

.type.gold {
  background: linear-gradient(90deg, rgba(191,154,83,0.85) 0%, rgba(227,204,151,0.85) 25%, rgba(209,179,114,0.85) 50%, rgba(246,224,132,0.85) 72%, rgba(222,196,137,0.85) 100%);
  color: black;
}

.type.bronze {
  background: linear-gradient(90deg, rgba(168,124,61,0.85) 0%, rgba(184,115,51,0.85) 49%, rgba(205,127,50,0.85) 100%);
  color: black;
}

  
  /* Kijelölt állapot */
  .car-container.selected {
    outline: 2px solid var(--font-color-black);
    box-shadow: var(--shadow-regular),
                inset 1px 1px 1px var(--bevel-light), /* világos kiemelés */
                inset -1px -1px 1px var(--bevel-dark); /* árnyék sötétebb rész */
  }

  .modal-content{
    color: var(--font-color-black);
  }

  .right-panel.grey h1{
    color: var(--font-color-black);
  }

  .modal-content h2{
    color: var(--font-color-black);
  }

  .modal-carpicker label {
    display: grid;
    grid-template-columns: 10rem auto; /* 10rem a címkének, a maradék hely az inputnak */
    align-items: center; /* Függőlegesen középre igazítja az elemeket */
    margin-bottom: 1rem; /* Alsó margó a label-ek között */
    text-align: left;
    font-family: "Inter", serif;
    font-weight: 700;
}

.modal-carpicker input, select{
  border: none;
  height: 2rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem;
}

.modal-carpicker input:focus{
  outline: none;
}