
.parking-layout {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* Három oszlop: bal (1fr), üres középső (3fr), jobb (1fr) */
  grid-template-rows: 8rem 1fr 1fr; /* Három sor */
  background-color: var(--bg-color);
  border-radius: 10px;
  width: fit-content;
  margin: auto;
  box-shadow: var(--shadow-small),
              inset 1px 1px 1px var(--bevel-light), /* világos kiemelés */
              inset -1px -1px 1px var(--bevel-dark); /* árnyék sötétebb rész */
}

.parking-container-top {
  grid-column: 1 / span 3; /* A felső tároló az első sorban van és átnyúlik mindhárom oszlopon */
  display: flex;
  gap: 1.5rem;
  margin: 1rem;
  justify-content: center;
}

.parking-container-left {
  grid-row: 2 / span 2; /* A bal tároló a második és harmadik sor között helyezkedik el */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Balra igazítás */
  justify-content: flex-start; /* A tartalom balra húzása */
  margin: 2rem 8rem 2rem 2rem; /* Egy kis margó, hogy ne legyen közvetlenül a szélén */
}
.parking-container-left span{
  transform: rotate(-90deg); /* Elforgatja csak a szöveget */
  white-space: nowrap; /* Megakadályozza a szöveg tördelését */
}
.parking-container-right {
  grid-row: 2 / span 2; /* A jobb tároló a második és harmadik sor között helyezkedik el */
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Jobbra igazítás */
  justify-content: flex-start; /* A tartalom jobbra húzása */
  margin: 2rem 2rem 2rem 8rem; /* Egy kis margó, hogy ne legyen közvetlenül a szélén */
}
.parking-container-right span{
  transform: rotate(-90deg); /* Elforgatja csak a szöveget */
  white-space: nowrap; /* Megakadályozza a szöveg tördelését */
}
.parking-container-bottom {
  grid-column: 1 / span 3; /* Az alsó tároló az alsó sorban van és átnyúlik mindhárom oszlopon */
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 1rem;
}

  /* Parkoló elem tároló: bal és jobb elforgatása 90 fokban */
.parking-container-left .parking-spot,
.parking-container-right .parking-spot {
  transform: rotate(90deg); 
}

  /* Parkoló elem */
.parking-spot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 5rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition-quick);
  flex-direction: column;
  gap: 0.5rem;
  font-size: 10px;
  color: var(--font-color-white);
  user-select: none;
}
.parking-spot img{
  width: 1rem;
  filter: invert(var(--invert));
}

  /* Parkoló elem: hover */
.parking-spot:hover{
  box-shadow: var(--shadow-small),
  inset 1px 1px 1px var(--bevel-light), 
  inset -1px -1px 1px var(--bevel-dark); 
  filter: brightness(1.1);
}

  /* Parkoló színek */
.parking-spot.red {
  background: linear-gradient(180deg, rgba(237,33,58,1) 0%, rgba(147,41,30,1) 100%);
}
.parking-spot.yellow {
  background: linear-gradient(180deg, rgba(237,195,67,1) 0%, rgba(242,153,74,1) 100%);
}
.parking-spot.green {
  background: linear-gradient(0deg, rgba(17,153,142,1) 0%, rgba(35,184,91,1) 100%);
}
.parking-spot.gray {
  background-color: #AEAEAE;
}

  /* Középső konténer (szürke négyszög) */
.parking-container-middle {
  grid-column: 2 / span 1; 
  grid-row: 2 / span 2; 
  background-color: transparent; 
  width: 100%; 
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* Lift elem: közép */
.lift-base{
  width: 15rem;
  height: 13rem;
  background-color: var(--lift-color);
  border-radius: 2rem;
  position: relative;
}

  /* Lift elem: teteje */
.lift-top{
  width: 7rem;
  height: 1.5rem;
  background-color: var(--lift-color);
  position: relative;
  top: -0.6rem;
  left: 4rem;
  border-radius: 1rem;
}

  /* Lift elem: alja */
.lift-bottom{
  width: 7rem;
  height: 1.5rem;
  background-color: var(--lift-color);
  position: relative;
  bottom: -10.50rem;
  left: 4rem;
  border-radius: 1rem;
}

  /* Szint gombok tárolója */
.level-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

  /* Felugró ablak tárolója */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px); /* Homályosítás */
  box-shadow: var(--shadow-small),
              inset 1px 1px 1px var(--bevel-light), /* világos kiemelés */
              inset -1px -1px 1px var(--bevel-dark); /* árnyék sötétebb rész */
}

  /*Felugró ablak */
.modal-content {
  background: var(--bg-color);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  margin: 1rem;
}

  /*Felugró ablak gombjai */
.modal-actions button {
  margin: 1rem;
}

.tooltip {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
}

/* Bal oldali parkolóhelyek tooltipjeinek forgatása */
.tooltip.left{
  transform: rotate(-90deg);
  transform-origin: 0.5rem 1.25rem;
}

/* Jobb oldali parkolóhelyek tooltipjeinek forgatása */
.tooltip.right {
  transform: rotate(-90deg);
  transform-origin: 3.5rem 4.25rem;
}