@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

html{

  /* COLORS */
  --bg-color: #D9D9D9;
  --lift-color: #4D4D4D;
  --orange: #F4A14D;
  --orange-light: #ffbc79;
  --green: #A0C089;
  --calendar-color: #f9f9f9;
  --green-dark: #789a61;
  --plain-white: white;
  /* FONT COLORS */
  --font-color-white: #F2F2F2;
  --font-color-black: #1F1F1F;

  /* TRANSITIONS */
  --transition-quick: all 0.2s ease-in-out;
  --transition-medium: all 0.5s ease-in-out; 
  --transition-slow: all 0.7s ease-in-out; 

  /* SHADOWS */
  --shadow-regular: 0px 5px 20px -10px rgba(0,0,0,0.75);
  --shadow-small: 0 4px 10px rgba(0, 0, 0, 0.1);

    /* BEVEL COLOR */
    --bevel-light: rgba(255, 255, 255, 0.1) ;
    --bevel-dark: rgba(0, 0, 0, 0.1);

    --invert: 0;

    --transparent-bg: rgba(232, 232, 232, 0.3);
}

html.dark{

/* DARK MODE COLORS */
--bg-color: #1F1F1F; /* Background: dark gray */
--lift-color: #A6A6A6; /* Lift color: light gray for contrast */
--orange: #F4A14D; /* Orange remains the same */
--orange-light: #ffbc79; /* Slightly lighter orange for accents */
--green: #3B6A46; /* Green: darker and desaturated */
--calendar-color: #2A2A2A; /* Calendar background: very dark gray */
--green-dark: #2E5533; /* Green darkened */
--plain-white: black;

/* FONT COLORS */
--font-color-white: #1f1f1f; /* Text: soft white for less strain */
--font-color-black: #FFFFFF; /* Text: white for elements on dark backgrounds */


  /* TRANSITIONS */
  --transition-quick: all 0.2s ease-in-out;
  --transition-medium: all 0.5s ease-in-out; 
  --transition-slow: all 0.7s ease-in-out; 

  /* SHADOWS */
  --shadow-regular: 0px 5px 20px -10px rgba(0,0,0,0.75);
  --shadow-small: 0 4px 10px rgba(0, 0, 0, 0.1);

    /* BEVEL COLOR */
    --bevel-light: rgba(255, 255, 255, 0.1) ;
    --bevel-dark: rgba(0, 0, 0, 0.1);

    --invert: 1;
    --invert-alt: 0.835;


    --transparent-bg: rgba(48, 48, 48, 0.3);
}

body {
  margin: 0;
  font-family: "Syne", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color-white);
  overflow: hidden;
}

  /* Gombok kinézete */
button{
  margin: 1rem;
  padding: 1rem 2rem;
  text-align: center;
  transition: var(--transition-medium);
  border-radius: 1rem;
  border: 0px;
  font-weight: 700;
  background-size: 200% auto;
  color: var(--font-color-white);
  box-shadow: var(--shadow-small),
        inset 1px 1px 1px var(--bevel-light), /* világos kiemelés */
        inset -1px -1px 1px var(--bevel-dark); /* árnyék sötétebb rész */
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  outline: 2px transparent solid;
}

  /* Gombok kinézete: hover */
button:hover{
  outline: 2px #e09e58 solid;
  background-position: right center;
}

button:active{
  transform: scale(0.95);
}

.addcar-btn{
  background-image: none;
  background-color: var(--plain-white);
  border-radius: 100rem;
  padding: 1rem;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow-small),
        inset 1px 1px 1px var(--bevel-light), /* világos kiemelés */
        inset -1px -1px 1px var(--bevel-dark); /* árnyék sötétebb rész */
}

.addcar-btn:hover{
  outline: 2px solid var(--plain-white);
}

.addcar-btn img{
  width: 1.5rem;
  filter: invert(var(--invert));
}

.edit-btn, .delete-btn{
  background-image: none;
}

.edit-btn:hover, .delete-btn:hover{
  outline: 1px solid var(--plain-white);
  background-color: var(--plain-white);
}

  /* Link kinézete */
a{
  text-decoration: none;
  color: var(--font-color-black);
}

  /* Grid tároló */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
  transition: background-color 0.5s ease-in-out;

}
  /* Grid jobb oldali tároló */
.right-panel {
  flex: 1;
  position: relative; 
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  overflow-y: auto;
  background-color: var(--font-color-white);
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;

}

.right-panel.green, .div2.green{
  background-image: url(../public/bg_green.png);
  background-size: cover;
  box-shadow: var(--shadow-regular),
          inset 1px 1px 1px var(--bevel-light), /* világos kiemelés */
        inset -1px -1px 1px var(--bevel-dark); /* árnyék sötétebb rész */
}

.right-panel.grey{
  background-color: var(--calendar-color);
  color: var(--font-color-black);
  border-radius: 0;
}

.left-panel {
  flex: 1;
  background-color: var(--calendar-color); 
  display: flex;
  padding: 0 2rem 2rem 0;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  position: relative;
  max-width: 444px;
  border-radius: 0;
transition: background-color 0.5s ease-in-out;
user-select: none;
}

.left-panel.orange{
  background-image: url(../public/bg_orange.png);
  background-size: cover;
  padding: 2.5rem;
  border-radius: 0 1.5rem 1.5rem 0;
  box-shadow: var(--shadow-regular),
          inset 1px 1px 1px var(--bevel-light), /* világos kiemelés */
          inset -1px -1px 1px var(--bevel-dark); /* árnyék sötétebb rész */
  z-index: 1;
}

.left-panel.green{
  background-image: url(../public/bg_green.png);
  background-size: cover;
  padding: 2.5rem;
  border-radius: 0 1.5rem 1.5rem 0;
  box-shadow: var(--shadow-regular),
          inset 1px 1px 1px var(--bevel-light), /* világos kiemelés */
          inset -1px -1px 1px var(--bevel-dark); /* árnyék sötétebb rész */
  z-index: 1;
}

  /* H1 stílus */
h1{
  font-size: 6rem;
  font-weight: bold;
  margin: 1rem 0 0 0;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--font-color-white);
}

  /* H2 stílus */
h2{
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem 0 2rem 0;
  text-align: center;
  color: var(--font-color-white);
  transition: color 0.5s ease-in-out;
}

.car-details h2{
  text-align: left;
  color: var(--font-color-black);
}

/*Kezdo*/
.grid-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--calendar-color);
}


/* LOGO - Section1 */
.section1 {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.section-logo {
  width: 60px; /* Logo mérete */
  height: auto;
  position: relative;

}

/* SZÖVEG - Section2 */
.section2 {
  flex: 1; /* Kitölti a rendelkezésre álló helyet */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-text {
  font-size: 6rem; 
  font-family: 'Syne', sans-serif; 
  font-weight: bold;
  color: var(--font-color-white);
  line-height: 1;
  margin: 0;
  letter-spacing: 0.5rem;
}

/* KÉP - Section3 */
.section3 {
  width: 100%;
  height: 65%; /* Dinamikus magasság */
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-kep {
  width: auto;
  height: 100%; 
  object-fit: cover;
  filter: invert(var(--invert-alt));
  transition: var(--transition-medium);
}

.edit-container, .delete-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 100rem;
  margin-left: 0.5rem;
  font-family: "Inter", serif;
  font-size: 1rem;
}
.edit-container span, .delete-container span{
  margin: 0 0.75rem;
}

.car-main-container{
  background-color: var(--transparent-bg);
  backdrop-filter: blur(30px);
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow-regular),
      inset 1px 1px 1px var(--bevel-light), /* világos kiemelés */
      inset -1px -1px 1px var(--bevel-dark); /* árnyék sötétebb rész */
      overflow-y: scroll;
  transition: var(--transition-medium);
}

/* A scrollbar stílusának beállítása */
.car-main-container::-webkit-scrollbar {
  display: none;
}

.separator{
  width: 120%;
border: 2px var(--font-color-white) solid;
background-color: var(--font-color-white);
  height: 1px;
  margin-bottom: 2rem;
}

.car-main-container h1{
  font-size: 2rem;
  font-family: "Inter", serif;
  font-weight: 400;
}

nav{
position: absolute;
top: 1rem;
right: 1rem;
}

/* Normál asztali kijelzőkhöz (768px - 1200px) */
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .left-panel{
    display: none;
  }
  .right-panel{
    border-radius: 0;
  }
}

/* Tablet méret (768px - 480px) */
@media screen and (max-width: 768px) and (min-width: 480px) {
  html {
    font-size: 70%; /* Az alapértelmezett méret 90%-ára csökkent */
  }
  .left-panel{
    display: none;
  }
  .right-panel{
    border-radius: 0;
  }
}

/* Mobil méret (kevesebb mint 480px) */
@media screen and (max-width: 480px) {
  html {
    font-size: 50%; /* Az alapértelmezett méret 90%-ára csökkent */
  }
  .left-panel{
    display: none;
  }
  .right-panel{
    border-radius: 0;
  }
}

.floating-menu {
  position: absolute;
  left: 1rem;
  top: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 100px;
  background-color: var(--transparent-bg);
  backdrop-filter: blur(10px);
  padding: 1rem 0;
  box-shadow: var(--shadow-regular), inset 1px 1px 1px var(--bevel-light),
    inset -1px -1px 1px var(--bevel-dark);
  z-index: 10;
  transition: var(--transition-medium);
  overflow: hidden;
  user-select: none;
}

.floating-menu .menu-separator {
  border: 1px solid var(--font-color-black);
  width: 100%;
  opacity: 0.8;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.floating-menu .menu-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  transition: opacity 0.3s ease, transform 0.3s ease;
}

.floating-menu img {
  width: 1.5rem;
  cursor: pointer;
  margin: 0.25rem 1rem 0.25rem 1rem;
  filter: invert(var(--invert));
  opacity: 0.8;
  transition: opacity 0.3s ease, transform 0.3s ease;
  user-select: none;
}

.floating-menu img.active {
  opacity: 1;
}

.floating-menu img.car {
  width: 1.75rem;
}

.floating-menu img.close {
  width: 1.25rem;

}

.floating-menu.closed{
  transition: var(--transition-medium);
  height: 1.6rem;
}
.floating-menu.closed img.close{
  position: absolute;
  bottom: 0.85rem;
}

/* Animációk állapotok szerint */
.floating-menu.closed .menu-items,
.floating-menu.closed .menu-separator {
  transform: translateY(-150%);
  opacity: 0;
  visibility: hidden; /* Elrejtés az áttűnés után */
  pointer-events: none; /* Klikkelhetetlenné tétele */
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.floating-menu.open .menu-items,
.floating-menu.open .menu-separator {
  transform: translateY(0);
  opacity: 1;
  visibility: visible; /* Láthatóvá válik */
  pointer-events: auto; /* Engedi a kattintást */
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}