/*ALTALANOS*/
.parent {
    display: flex;
    height: 100vh;
    background-color: var(--calendar-color);
  }
  
  /*BAL OLDALI HASAB - div1*/
  .div1 {
    flex: 1;
    background-color: var(--calendar-color); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 444px;
    position: relative;
  }

  /*LOGO - sec1*/
  .section1 {
    position: relative;
    width: 100%;  /* Az elem szélessége a szülőhöz igazodik */
    height: auto; /* Magasság a benne lévő képhez igazodik */
  }

  .section-logo {
    position: absolute; /* A kép bal felső sarokba kerül */
    top: 0;
    left: 0;
    width: 4rem;  /* A kép szélessége */
    height: auto;  /* A kép magassága arányosan igazodik */
  }
  
  /*SZOVEG - sec2*/
  .section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* A sec2 középre van igazítva */
    text-align: center;
  }

  .section-text {
    font-size: 3.5rem; /* Betűméret*/
    font-family: 'Syne'; /* Betűtípus */
    font-weight: bold; /* Félkövér */
    color: #505050; 
    text-align: center; /* Középre igazítás */
    line-height: 1; /* Sorok közötti távolság */
    margin: 0; /* Margó eltávolítása */
    letter-spacing: 0.5rem;
  }

  /*KEP - sec3*/
  .section3 {
    height: 65%; /* EZZEL KEZDENI MÉG VALAMIT - talán jó*/
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  .section-kep {
    height: 100%;  /* A kép kitölti a sec3 teljes magasságát */
    width: auto;   
    object-fit: cover; /* A kép arányos kitöltése */
    
  }



  /*JOBB OLDALI HASAB - div2*/
  .div2 {
    flex: 1;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
  }
  
  /*FELSO GOMB - Sign Up*/
  .top-right {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  
  .signup-button {
    padding: 1rem 2rem;
    background-color: #f4a14d;
    color: var(--font-color-white);
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #f4a14d;
  }
  

  /*TELJES LOGIN RESZ*/
  .login-form {
    width: 80%;
    max-width: 400px;
    text-align: center;
    color: var(--font-color-white);
  }
  
  .login-form h2 {
    margin-bottom: 2rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
    text-align: left;

    transition-property: opacity;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
    
    @starting-style {
      opacity: 0;
    }
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group input {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--font-color-white);
    border-radius: 0.75rem;
    background-color: var(--calendar-color);
  }

  .form-group input[type="passowrd"], .form-group input[type="email"]{
    background-color: var(--calendar-color);
  } 

  /*ALSO LOGIN GOMB*/
  .login-button {
    width: 40%;
    padding: 1rem;
    background-color: #f4a14d;
    color: var(--font-color-white);
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    margin-top: 4rem;
  }
  
  .login-button:hover {
    background-color: #f4a14d;
  }

  /*REMEMBER ME es FORGOT PASSWORD*/
  .options {
    display: flex;
    justify-content: space-between; /* A két elem egymás mellett balra és jobbra */
    align-items: center; 

    font-size: 1.25rem; 
    
    transition-property: opacity;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.8s;
    
    @starting-style {
      opacity: 0;
    }
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    gap: 1px; /* Távolság a checkbox és a szöveg között */
  }
  
  .forgot-password a {
    color: #269cfd;
    font-size: 1rem;
  }
  
  .forgot-password a:hover {
    text-decoration: underline; /* Hover állapot */
  }





  /*SIGN UP RESZ - masik lap*/
  
  /* Jobb felső sarok pozícionálás */
  .top-right {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  /* Gomb stílusa */
  .signup-button {
    padding: 1rem 2rem;
    background-color: #f4a14d;
    color: var(--font-color-white);
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
  }

  /* Hover állapot a gombhoz */
  .signup-button:hover {
    background-color: #f4a14d;
  }


  .signup-form{
    color: var(--font-color-white);
    text-align: center;
    width: 80%;
    max-width: 500px;
  }

  /* Sign Up form sorok */
  .signup-form .form-row {
    display: flex;
    justify-content: space-between; /* Elemek szétszórása balra és jobbra */
    color: var(--font-color-white);
    gap: 5rem;
  }

  .signup-form .form-group {
    flex: 1; 
    text-align: left; /* A szövegek balra igazítása */
  }
  

  .signup-form input {
    border: 1px solid #ddd;
    border-radius: 0.75rem;
  }

  label{
    font-size: 1rem;
  }

  /*ELFELEJTETT JELSZO*/
  .forgot-password-page {
    color: var(--font-color-white);
    width: 100%;
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    width: 80%;
    max-width: 500px;
  }
  
  .forgot-password-page h2 {
    margin-bottom: 4rem;
  }
  
  .forgot-password-page .form-group {

    margin-bottom: 3rem;
    text-align: left;
  }
  
  .forgot-password-page .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .forgot-password-page .form-group input {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.75rem;
  }
  
  /* Normál asztali kijelzőkhöz (768px - 1200px) */
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .div1{
    display: none;
  }
  .div2{
    border-radius: 0;
  }
}

/* Tablet méret (768px - 480px) */
@media screen and (max-width: 768px) and (min-width: 480px) {
  html {
    font-size: 70%; /* Az alapértelmezett méret 90%-ára csökkent */
  }
  .div1{
    display: none;
  }
  .div2{
    border-radius: 0;
  }
  label{
    font-size: 1.5rem;
  }
  .forgot-password a {
    font-size: 1.5rem;
  }
}

/* Mobil méret (kevesebb mint 480px) */
@media screen and (max-width: 480px) {
  html {
    font-size: 50%; /* Az alapértelmezett méret 90%-ára csökkent */
  }
  .div1{
    display: none;
  }
  .div2{
    border-radius: 0;
  }
  label{
    font-size: 1.5rem;
  }
  .forgot-password a {
    font-size: 1.5rem;
  }
}